name: Run mypy and pytest

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - 'main'
      - 'release/*'
      - 'staging'
      - 'trying'
    tags:
      - 'v*'
  pull_request:
  merge_group:
    branches: ['main']

jobs:
  pytestmypy:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13"]
        exclude:
          - os: windows-latest
            python-version: "3.12"
          - os: windows-latest
            python-version: "3.13"
    env:
      DISPLAY: ':99.0'
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v5.0.0
      with:
        submodules: true
    - name: setup ubuntu-latest xvfb
      uses: ./.github/actions/setup-ubuntu-latest-xvfb
      if: runner.os == 'Linux'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: |
          pyproject.toml
          requirements.txt
    - name: upgrade pip setuptools wheel
      run: python -m pip install --upgrade pip setuptools wheel
      shell: bash
    - name: install package
      run: |
        pip install .[test] -c requirements.txt
    - name: Run Mypy
      run: mypy src
    - name: Run tests
      run: |
        pytest --cov=qcodes_contrib_drivers --cov-report xml --cov-config=pyproject.toml tests
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5.5.1
      with:
        env_vars: OS,PYTHON
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
